.container{
    width: 100vw;
    color: white;
    display: flex;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.featured{
    display: flex;
    flex-direction: row;
}

.imgContainer{
    display: flex;
    flex: 1;
    position:relative;
}

.text{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image{
    position: relative;
    object-fit: cover;
    display: flex;
}

.subhead {
    text-align: center;
    padding-top: 30px;
}

.link{
    text-decoration: underline solid red;
    font-weight: 400;
}

@media screen and (max-width: 1536px) {
   .wrapper{
    max-width: 1440px;
   }
   .imagem{
    display:none;
   }

   .featured{
    min-height: 400px;
    margin: 50px;
   }
}

@media screen and (max-width: 1440px) {
    .wrapper{
     max-width: 1336px;
    }
 }

 @media screen and (max-width: 1336px) {
    .wrapper{
     max-width: 1280px;
    }
 }

 @media screen and (max-width: 1280px) {
    .wrapper{
     max-width: 1024px;
    }
 }

 @media screen and (max-width: 1024px) {
    .wrapper{
     max-width: 768px;
    }
 }

 @media screen and (max-width: 768px) {
    .wrapper{
     max-width: 640px;
    }
 }

 @media screen and (max-width: 640px) {

    .container{
        width: 100vw;
        color: white;
        display: flex;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px
    }
    .wrapper{
     max-width: 640px;
     padding-left: 30px;
     padding-right: 30px;
     padding-top: 30px;
    }
    
    .featured{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    
    .imgContainer{
        display: none;
    }

    .imagem{
        display: flex;
        position: relative;
        object-fit: cover;
        display: flex;
        
    }

    .card{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .imgContainer{
        padding-bottom: 20px;
    }

    .imagem{
        padding-bottom: 20px;
    }
    .text{
        gap: 15px;
    }
 }

 @media screen and (max-width: 375px) {
    .wrapper{
     max-width: 375px;
     margin-left: 10px;
     margin-right: 10px;

    }

 }

